python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai
langchain-openai
docx2txt
ipykernel
python-multipart
langsmith
openai
structlog
langchain-huggingface
sentence-transformers
fastapi
uvicorn
Jinja2
pypdf
faiss-cpu
pandas
openevals